<!--Homepage-->
<% if(theme.sidebar.homepage.use === true) { %>
<li class="nav-list">
    <a href="<%= config.root %>" target="_self">
        <div class="nav-ico"><i class="material-icons">home</i> </div><p>主页</p>
    </a>
</li>
<% } %>
<!--archives-->
<% if(theme.sidebar.archives.use === true) { %>
<li class="nav-list dropdown-btn">
    <a  class=""  target="_self">
        <div class="nav-ico"><i class="material-icons">assignment</i></div><p>归档</p><div class="dropdown-ico"><i class="material-icons">arrow_drop_down</i></div>
    </a>
</li>
<% } %>
<ul class="dropdown-menu dropdown" >
    <li class="nav-dropdown-list">
        <%- list_archives({
            show_count: true,
            style: 'none',
            separator: '</li><li class="nav-dropdown-list">'
        }) %>
    </li>
</ul>
<!--categories-->
<% if(theme.sidebar.categories.use === true) { %>
<li class="nav-list dropdown-btn">
    <a   class=""  target="_self">
        <div class="nav-ico"><i class="material-icons">dashboard</i></div><p>分类</p><div class="dropdown-ico"><i class="material-icons">arrow_drop_down</i></div>
    </a>
</li>
<% } %>
<ul class="dropdown-menu dropdown" >
    <li class="nav-dropdown-list">
        <%- list_categories({
            show_count: true,
            style: 'none',
            separator: '</li><li class="nav-dropdown-list">'
        }) %>
    </li>
</ul>
<!--tags-->
<% if(theme.sidebar.tags.use === true) { %>
<li class="nav-list">
    <a href="/archives" target="_self">
        <div class="nav-ico"><i class="material-icons">bookmark</i> </div><p>标签</p>
    </a>
</li>
<% } %>
<!--photo-->
<% if(theme.sidebar.photo.use === true) { %>
<li class="nav-list">
    <a href="/photo" class="nopjax" target="_self">
        <div class="nav-ico"><i class="material-icons">insert_photo</i> </div><p>影集</p>
    </a>
</li>
<% } %>
<!--friends-->
<% if(theme.sidebar.friends.use === true) { %>
<li class="nav-list">
    <a href="/friends" target="_self">
        <div class="nav-ico"><i class="material-icons">face</i> </div><p>友链</p>
    </a>
</li>
<% } %>
<!--about-->
<% if(theme.sidebar.about.use === true) { %>
<li class="nav-list">
    <a href="/about" target="_self">
        <div class="nav-ico"><i class="material-icons">copyright</i> </div><p>关于</p>
    </a>
</li>
<% } %>
