<nav class="paging">
    <%- paginator({
        space: '',
        mid_size: 1,
        prev_text: '<div class="prev-text"><i class="material-icons">chevron_left</i></div>',
        next_text: '<div class="next-text"><i class="material-icons">chevron_right</i></div>'
    }) %>
</nav>